<h1>Make a New Newspaper</h1>

<%= @newspaper.errors.full_messages[0] %>

<%= form_for(@newspaper) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br/>
	<%= f.label :editor %>
	<%= f.text_field :editor %>
	<br/>

	<h2>Add Subscription Plans</h2>

	<%= f.fields_for :subscription_plans do |subscription_plan_form| %>

		<%= subscription_plan_form.label :price%>
		<%= subscription_plan_form.text_field :price%>
		<br/>

		<%= subscription_plan_form.radio_button(:weekly, true)%>
		<%= subscription_plan_form.label(:weekly_true, "Weekly?")%>
		<%= subscription_plan_form.radio_button(:weekly, false)%>
		<%= subscription_plan_form.label(:weekly_false, "Daily?")%>
				<br/><br/>
	<% end %>

		<br/>
	<%= f.submit %>
<% end %>