<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Newspaper App", '#', id: "logo" %>
      <nav>

        <ul class="nav pull-left">
          <li><%= link_to "Create Newspaper", new_newspaper_url %></li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "Home", newspapers_url%></li>
          <li><%= link_to "Help",  '#' %></li>
          <li><%= link_to "Sign Up", new_user_url%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>